* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #686de0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.container {
    background-color: #fff;
    padding: 50px 30px;
    width: 800px;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1), 0 10px 6px rgba(0, 0, 0, 0.3);
}

h3 {
    opacity: 0.5;
    letter-spacing: 2px;
}

.joke {
    max-width: 80%;
    font-size: 30px;
    letter-spacing: 1px;
    line-height: 40px;
    margin: 50px auto;
    width: 600px;
}


.btn {
    cursor: pointer;
    color: white;
    font-weight: 700;
    outline: none;
    border: none;
    padding: 20px;
    border-radius: 10px;
    background-color: #686de0;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1), 0 3px 3px rgba(0, 0, 0, 0.3);
}

.btn:active {
    transform: scale(0.98);
}
