* {
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    flex-direction: column;
}

#canvas,
.toolbox {
    border: 2px solid steelblue;
}

.toolbox {
    width: 804px;
    background-color: steelblue;
    border-top: 0;
    padding: 1rem;
    display: flex;
    align-items: center;
}

.toolbox>* {
    background-color: #fff;
    border: none;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    height: 50px;
    width: 50px;
    margin: 0.25rem;
    padding: 0.25rem;
    cursor: pointer;
}

.toolbox>*:last-child {
    margin-left: auto;
}
