* {
    box-sizing: border-box;
}

body {
    height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
}

.title {
    color: rgb(219, 32, 44);
}

nav {
    position: fixed;
    left: 0;
    top: 0;
}

.open-menu {
    position: fixed;
    top: 20px;
    left: 15px;
    cursor: pointer;
    z-index: -1;
}

.line {
    height: 2px;
    width: 20px;
    background-color: black;
}

.open-menu .line {
    margin-bottom: 4px;
}

.menu-bg-red,
.menu-bg-black,
.menu {
    width: 400px;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    transform: translateX(-102%);
    transition: transform 0.2s linear;
    padding: 20px 30px;
    background-color: white;
    z-index: 1001;
}

.menu-bg-black {
    background-color: black;
    width: 440px;
    z-index: 999;
}

.menu-bg-red {
    background-color: red;
    width: 420px;
    z-index: 1000;
}

.menu header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu .close {
    color: #8d8d8d;
    font-weight: 600;
    cursor: pointer;
}

nav.active .menu,
nav.active .menu-bg-black,
nav.active .menu-bg-red {
    transform: translateX(0);
}

nav a {
    text-decoration: none;
    color: #1d1d1d;
}

nav .list {
    list-style: none;
    padding-left: 0;
}

.list li {
    margin-bottom: 1.5rem;
}

nav .list.second {
    padding-left: 1.5rem;
    margin-top: 1.5rem;
}
