* {
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    border: 2px solid black;
    padding: 10px 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    max-width: 100%;
    width: 900px;
}

.numbers {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin: 0 auto;
}

.info {
    width: 50%;
    margin-bottom: 40px;
}

input {
    caret-color: transparent;
    border-radius: 5px;
    font-size: 75px;
    height: 120px;
    border: 1px solid #eee;
    margin: 1%;
    text-align: center;
    font-weight: 300;
    -moz-appearance: textfield;
    flex: 1 1 auto;
}

input:valid {
    border-color: #3498db;
    box-shadow: 0 10px 10px -5px rgb(0 0 0 / 25%);
}

.tip {
    background-color: rgb(234, 234, 234);
    color: #888;
    margin-top: 20px;
    font-size: 0.8rem;
    padding: 10px 20px;
    width: 50%;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
