* {
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    height: 100vh;
}

.container {
    padding: 20px 3rem;
    max-width: 720px;
    width: 100%;
    border-radius: 10px;
    background-color: rgb(71, 108, 228);
}

.progress-bar {
    height: 4px;
    background-color: white;
    margin-bottom: 10px;
    animation: progress 30s linear infinite;
}

@keyframes progress {
    0% {
        width: 0;
    }

    100% {
        width: 100%;
    }
}

.text {
    color: white;
    font-size: 1.2rem;
    text-align: justify;
}

.info {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.info img {
    width: 56px;
    height: 56px;
    border-radius: 50%;
    margin-right: 10px;
}

.name {
    font-weight: bold;
    color: white;
}

.pos {
    color: white;
    margin-top: 8px;
}
