* {
    box-sizing: border-box;
}

body {
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;

}

.background {
    position: absolute;
    z-index: -1;
    top: -20px;
    left: -20px;
    right: -20px;
    bottom: -20px;
    background-image: linear-gradient(-135deg, #fafafa 0%, #afafaf 100%);
    filter: blur(20px);
}

.container {
    background-color: white;
    max-width: 400px;
    width: 100%;
    padding: 2rem 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 7px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
    z-index: 1001;
}

.container>h2 {
    margin-top: 0;
}

.container>p {
    margin: -10px 0 20px 0;
    color: #a1a1a1;
}

.form-control input:valid,
.form-control input:focus {
    border: 1px solid #3498db;

    outline: none;
}

.form-control input {
    padding: 0.5rem;
    font-size: 1.2rem;
    width: 100%;
    border: 1px solid #e1e1e1;
}

.form-control {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.form-control label {
    margin-bottom: 5px;
}

.submit {
    width: 100%;
    padding: 0.5rem 0;
    background-color: #212121;
    color: white;
    outline: none;
    border: none;
    cursor: pointer;
    font-size: 1rem;
}
