* {
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: grid;
    place-items: center;
    background-color: rgb(142, 68, 173);
}

.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 10em;
}

.item {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    color: white;
    text-align: center;
}
.item .fab {
    margin-top: 1em;
}

.item .num {
    font-size: 4.5em;
}

p.comment {
    font-size: 1em;
    margin-top: 0.2em;
}


@media (max-width: 580px) {
    .container {
        grid-template-columns: 1fr;
    }
}
